name: publish
on:
  push:
    branches:
      - master
      - main
      - actions

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      FAST_HTTPAUTH: ${{ secrets.FAST_HTTPAUTH }}
      FAST_TOKEN: ${{ secrets.FAST_TOKEN }}
      FAST_USER: ${{ secrets.FAST_USER }}
      FAST_EMAIL: ${{ secrets.FAST_EMAIL }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
      - name: Install sbt
        run: wget https://scala.jfrog.io/artifactory/debian/sbt-1.3.0.deb && sudo dpkg -i sbt-1.3.0.deb
      - name: build
        run: sbt clean coverage formatCheck test package coverageReport coverageAggregate
      - name: build
        run: sbt +publish
